<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <title>Board</title>
</head>
<body>
<div th:replace="~{navbar :: navbarFragment}"></div>
<th:block layout:fragment="content"></th:block>

<script src="/bootstrap.min.js"></script>
</body>
</html>