<!DOCTYPE html>
<!--suppress ALL -->
<html layout:decorate="~{layout}"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div layout:fragment="content" class="container my-3">
  <h2 class="border-bottom py-2">질문해 주세요</h2>
  <form class="form-inline" th:action="@{/question/create}"
        method="post" th:object="${questionForm}">
    <div th:replace="~{error_form::formErrorsFragment}"></div>
    <div class="form-group">
      <label for="subject" class="my-3 h4">주제</label>
      <input class="form-control" th:field="*{subject}" placeholder="내용...">
      <label for="content" class="my-3 h4">내용</label>
      <textarea class="form-control" th:field="*{content}" aria-describedby="answer"
                rows="6"></textarea>
    </div>
    <button type="submit" class="btn btn-primary my-3">질문 등록</button>
  </form>
</div>
</body>
</html>
